mixin input-text_with-button(ftype, fname, fplaceholder, fpattern, ffail)
  .input-text_with-button__layout
    input(type=ftype name=fname  placeholder=fplaceholder pattern=fpattern)
    .input-text__icon 
      object(type='image/svg+xml' data=ffail)