mixin input-text_with-button(ftype, fname, fplaceholder, fpattern, nameButton)
  .input-text_with-button__layout
    input(type=ftype name=fname placeholder=fplaceholder pattern=fpattern)
    button(name=nameButton)